<div class="table-wrapper" id="carsTable">
  <table class="fl-table">
    <thead>
      <tr>
        <th>Car ID</th>
        <th>Make</th>
        <th>Model</th>
        <th>Year</th>
        <th>Color</th>
        <th>Mileage</th>
        <th>Energy</th>
        <th>Price</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each cars}}
        <tr style="cursor: pointer;">
          <td>{{id}}</td>
          <td>{{make}}</td>
          <td>{{model}}</td>
          <td>{{year}}</td>
          <td>{{color}}</td>
          <td>{{mileage}}</td>
          <td>{{energy}}</td>
          <td>{{price}}</td>
          <td><button
              class="outline"
              onclick="editCar('{{json this}}')"
            >Edit</button></td>
          <td><button
              class="outline secondary"
              onclick="deleteCar('{{id}}')"
            >Delete</button></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>